
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Better Pass</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <script> var Degrees = <%- JSON.stringify(degrees) %>; </script>
  </head>
  
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Better Pass</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h1>Choose Your Degree</h1>
      <p>Start by choosing what type of degree you are pursueing.<br> Then choose a major and a concentration/specialization.</p>


      <form class="form-inline">
        <div class="btn-group">
          <button class="btn">Degree</button>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
          <!-- dropdown menu links -->
            <li>Bachelor's</li>
            <li>Master's</li>
            <li>Minor</li>
            <li>Certification</li>
          </ul>
        </div>
        <div class="btn-group">
          <button class="btn">Area</button>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
          <!-- dropdown menu links -->
            <li>Bachelor's</li>
            <li>Master's</li>
            <li>Minor</li>
            <li>Certification</li>
          </ul>
        </div>
        <div class="btn-group">
          <button class="btn">Concentration/Specialization</button>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
          <!-- dropdown menu links -->
            <li>Bachelor's</li>
            <li>Master's</li>
            <li>Minor</li>
            <li>Certification</li>
          </ul>
        </div>
      </form>
    </div> <!-- /container -->

    <div class="container">
      <h1>What have you already completed?</h1>
      <p>Check off the classes that you have already earned a passing score.</p>

      <div class"container-fluid">
        <div class="row-fluid">
          <div class='span5'>        <label class="checkbox">
       <input type="checkbox" id="inlineCheckbox1" value="option1"> Class101
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Class102
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> Class103
      </label>        <label class="checkbox">
       <input type="checkbox" id="inlineCheckbox1" value="option1"> Class101
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Class102
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> Class103
      </label>        <label class="checkbox">
       <input type="checkbox" id="inlineCheckbox1" value="option1"> Class101
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Class102
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> Class103
      </label></div>
          <div class='span5'>        <label class="checkbox">
       <input type="checkbox" id="inlineCheckbox1" value="option1"> Class101
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Class102
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> Class103
      </label>        <label class="checkbox">
       <input type="checkbox" id="inlineCheckbox1" value="option1"> Class101
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Class102
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> Class103
      </label>        <label class="checkbox">
       <input type="checkbox" id="inlineCheckbox1" value="option1"> Class101
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Class102
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> Class103
      </label></div>
        </div>
      </div>
    </div>

    <br>

    <div class="container">
      <h1>Hours I'm Unavailable:</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <td></td>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thursday</td>
            <td>Friday</td>
            <td>Saturday</td>
            <td>Sunday</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>7:10-8:00 AM</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[mon][7-8A]">
              </label>
            </td> 
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[tue][7-8A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[wed][7-8A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[thu][7-8A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[fri][7-8A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sat][7-8A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sun][7-8A]">
              </label>
            </td>
          </tr>
          <tr>
            <td>8:10-9:00 AM</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[mon][8-9A]">
              </label>
            </td> 
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[tue][8-9A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[wed][8-9A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[thu][8-9A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[fri][8-9A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sat][8-9A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sun][8-9A]">
              </label>
            </td>
          </tr>
          <tr>
            <td>9:10-10:00 AM</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[mon][9-10A]">
              </label>
            </td> 
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[tue][9-10A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[wed][9-10A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[thu][9-10A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[fri][9-10A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sat][9-10A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sun][9-10A]">
              </label>
            </td>
          </tr>
          <tr>
            <td>10:10-11:00 AM</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[mon][10-11A]">
              </label>
            </td> 
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[tue][10-11A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[wed][10-11A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[thu][10-11A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[fri][10-11A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sat][10-11A]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sun][10-11A]">
              </label>
            </td>
          </tr>
          <tr>
            <td>11:10-12:00 PM</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[mon][11-12P]">
              </label>
            </td> 
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[tue][11-12P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[wed][11-12P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[thu][11-12P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[fri][11-12P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sat][11-12P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sun][11-12P]">
              </label>
            </td>
          </tr>
          <tr>
            <td>12:10-1:00 PM</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[mon][12-1P]">
              </label>
            </td> 
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[tue][12-1P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[wed][12-1P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[thu][12-1P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[fri][12-1P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sat][12-1P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sun][12-1P]">
              </label>
            </td>
          </tr>
          <tr>
            <td>1:10-2:00 PM</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[mon][1-2P]">
              </label>
            </td> 
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[tue][1-2P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[wed][1-2P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[thu][1-2P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[fri][1-2P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sat][1-2P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sun][1-2P]">
              </label>
            </td>
          </tr>
          <tr>
            <td>2:10-3:00 PM</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[mon][2-3P]">
              </label>
            </td> 
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[tue][2-3P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[wed][2-3P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[thu][2-3P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[fri][2-3P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sat][2-3P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sun][2-3P]">
              </label>
            </td>
          </tr>
          <tr>
            <td>3:10-4:00 PM</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[mon][3-2P]">
              </label>
            </td> 
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[tue][3-2P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[wed][3-2P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[thu][3-2P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[fri][3-2P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sat][3-2P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sun][3-2P]">
              </label>
            </td>
          </tr>
          <tr>
            <td>4:10-5:00 PM</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[mon][4-5P]">
              </label>
            </td> 
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[tue][4-5P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[wed][4-5P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[thu][4-5P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[fri][4-5P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sat][4-5P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sun][4-5P]">
              </label>
            </td>
          </tr>
          <tr>
            <td>5:10-6:00 PM</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[mon][5-6P]">
              </label>
            </td> 
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[tue][5-6P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[wed][5-6P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[thu][5-6P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[fri][5-6P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sat][5-6P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sun][5-6P]">
              </label>
            </td>
          </tr>
          <tr>
            <td>6:10-7:00 PM</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[mon][6-7P]">
              </label>
            </td> 
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[tue][6-7P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[wed][6-7P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[thu][6-7P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[fri][6-7P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sat][6-7P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sun][6-7P]">
              </label>
            </td>
          </tr>
          <tr>
            <td>7:10-8:00 PM</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[mon][7-8P]">
              </label>
            </td> 
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[tue][7-8P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[wed][7-8P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[thu][7-8P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[fri][7-8P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sat][7-8P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sun][7-8P]">
              </label>
            </td>
          </tr>
          <tr>
            <td>8:10-9:00 PM</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[mon][8-9P]">
              </label>
            </td> 
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[tue][8-9P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[wed][8-9P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[thu][8-9P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[fri][8-9P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sat][8-9P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sun][8-9P]">
              </label>
            </td>
          </tr>
          <tr>
            <td>9:10-10:00 PM</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[mon][9-10P]">
              </label>
            </td> 
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[tue][9-10P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[wed][9-10P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[thu][9-10P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[fri][9-10P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sat][9-10P]">
              </label>
            </td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="time[sun][9-10P]">
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container">
      <h1>I want to take:</h1>

      <div class"container-fluid">
        <div class="row-fluid">
          <div class='span5'>        <label class="checkbox">
       <input type="checkbox" id="inlineCheckbox1" value="option1"> Class101
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Class102
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> Class103
      </label>        <label class="checkbox">
       <input type="checkbox" id="inlineCheckbox1" value="option1"> Class101
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Class102
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> Class103
      </label>        <label class="checkbox">
       <input type="checkbox" id="inlineCheckbox1" value="option1"> Class101
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Class102
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> Class103
      </label></div>
          <div class='span5'>        <label class="checkbox">
       <input type="checkbox" id="inlineCheckbox1" value="option1"> Class101
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Class102
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> Class103
      </label>        <label class="checkbox">
       <input type="checkbox" id="inlineCheckbox1" value="option1"> Class101
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Class102
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> Class103
      </label>        <label class="checkbox">
       <input type="checkbox" id="inlineCheckbox1" value="option1"> Class101
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Class102
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> Class103
      </label></div>
    </div>

    <br>

    <div class="container">
      <h1>Teachers I Want:</h1>

      <h2>Class101</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Teacher</td>
            <td>Rating</td>
            <td>Want?</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Robert Long</td>
            <td>4.5</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="RobertLong">
              </label>
            </td>
          </tr>
          <tr>
            <td>Andrew Lisowski</td>
            <td>3.2</td>
            <td>
              <label class="checkbox">
                <input type="checkbox" value="AndrewLisowski">
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.10.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/search.js"></script>
  </body>
</html>